<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
		<property name="hibernate.connection.url">jdbc:sqlserver://localhost:52633;databaseName=Universite</property>
		<property name="hibernate.connection.username">FURKAN\ASUS</property>
		<property name="hibernate.connection.password"></property>
		<property name="hibernate.show_sql">true</property>
		<!-- Bunu eklemezsek tablo oluşturmuyor. -->
		<property name="hibernate.hbm2ddl.auto">create</property>


		<mapping class="com.furkanyilmaz.Personel" />

	</session-factory>
</hibernate-configuration>